<!-- Footer -->
<footer>
  <div class="row footer-main">
    <div class="col-four tab-full left footer-subscribe">
      <h4>Have questions?</h4>
      <p>Feel free to reach out to us! We're happy to discuss on it.</p>
      <ul class="contact-social">
        <li>
          <a href="https://instagram.com/social.conclave"
            ><i class="fab fa-instagram" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a href="https://wa.me/+919987729634"
            ><i class="fab fa-whatsapp" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="col-three tab-full right footer-desc">
      <div class="footer-log"></div>
      <h4>Links</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li>
          <a href="{% url 'main:agendas' %}" title="/agendas">Agendas</a>
        </li>
        <li><a href="/#contact">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-five tab-full right footer-subscribe">
      <div class="cinfo-footer">
        <h5>ADVAIT UDAYABHANU</h5>
        <p><a href="tel:+919987729634">+91-9987729634</a><br /></p>
      </div>
      <div class="cinfo-footer">
        <h5>AASHIR IBRAHIM</h5>
        <p><a href="tel:+919769328926">+91-9769328926</a><br /></p>
      </div>
    </div>
  </div>
  <div class="row footer-bottom">
    <div class="col-twelve">
      <div class="go-top">
        <a class="smoothscroll" title="Back to Top" href="#top">
          <i class="icon-arrow-up" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->
