{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Agendas | Social Conclave</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/overTheYears.css' %}" />
    <link rel="stylesheet" href="{% static 'css/agendas.css' %}" />
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicons/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicons/favicon-32x32.png' %}"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicons/favicon-16x16.png' %}"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body class="overTheYears" id="top">
    <!-- Navbar -->
    {% include '../components/navbar.html' %}

    <section
      id="home"
      class="s-home target-section short-header"
      data-parallax="scroll"
      data-image-src="{% static 'images/Sky Bg.jpg' %}"
      data-natural-width="3000"
      data-natural-height="2000"
      data-position-y="center"
    >
      <div class="overlay"></div>
      <div class="shadow-overlay"></div>
      <div class="home-content">
        <div class="row home-content__main extrapad">
          <h3>Social Conclave</h3>
          <br />
          <h1 style="margin-bottom: 0px">Our Agendas For This Year</h1>
          <div class="home-content__buttons">
            <a href="{% url 'main:landing-page' %}" class="btn btn--stroke"
              >Home</a
            >
          </div>
        </div>
        <div class="home-content__line"></div>
      </div>
      <ul class="home-social">
        <li>
          <a href="https://instagram.com/social.conclave"
            ><i class="fab fa-instagram" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a href="https://wa.me/+919987729634"
            ><i class="fab fa-whatsapp" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </section>

    <section id="Agendas" class="s-services">
      <div class="provide" id="teamsId">
        <div class="header">
          <span>Our Agendas</span>
          <h2>Super Core Conclave 2023</h2>
        </div>
      </div>
    </section>

    <section id="AgendasDetails" class="s-services">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <div class="flexheader">
              <img src="{% static 'images/One.png' %}" alt="" />
              <h2 class="heading">Wildlife and Ecosystem Protection</h2>
            </div>

            <div class="para">
              <p>
                Our land of incredible biodiversity is facing a severe threat to
                its wildlife and ecosystems. Urbanization, poaching and improper
                waste disposal are some of the major forces driving the decline
                of several species of flora and fauna. We must develop effective
                measures for the protection and conservation of the environment
                to maintain the balance in the ecosystem. A sustainable approach
                to development would ensure that wildlife can coexist with
                humans.
              </p>
            </div>
            <a
              style="font-size: 2rem; text-decoration: underline"
              href="{% url 'main:WildlifeAndEcosystemProtection' %}"
              >Learn more</a
            >
          </div>
          <div class="col-sm-6">
            <div class="flexheader">
              <img src="{% static 'images/Two.png' %}" alt="" />
              <h2 class="heading">Education: A Universal Right</h2>
            </div>

            <div class="para">
              <p>
                Underprivileged children are confronted with various challenges
                such as lack of education, malnutrition, limited access to
                healthcare and forced labor. Moreover, the extracurricular
                opportunities, and emotional development are often overlooked in
                favor of fulfilling more basic needs due to poverty. To ensure
                that children have a healthy and fulfilling childhood, we must
                formulate comprehensive child development programs that
                prioritize their social and emotional skills through
                extracurricular activities. These programs must also promote
                parenting education to address the issue of parents that might
                not understand their children’s psychological requirements.
                Adults who were allowed to fully develop during their childhood
                can have a more positive impact on society.
              </p>
            </div>
            <a
              style="font-size: 2rem; text-decoration: underline"
              href="{% url 'main:EducationAUniversalRight' %}"
              >Learn more</a
            >
          </div>
          <div class="col-sm-6">
            <div class="flexheader">
              <img src="{% static 'images/Three.png' %}" alt="" />
              <div class="imgside">
                <h2 class="heading">Drug Rehabilitation & Recovery</h2>
              </div>
            </div>

            <div class="para">
              <p>
                India is facing a growing drug addiction problem, which is
                taking a toll on individuals, families, and society as a whole.
                Addiction can lead to a range of social, economic, and
                health-related problems that can have far-reaching impacts both
                in terms of the number and generations of people that it
                affects. It is important to develop effective drug
                rehabilitation and recovery programs that focus on prevention,
                treatment, and recovery. Such programs should include a range of
                interventions, such as counseling, medication-assisted therapy,
                and support groups, to help individuals overcome addiction and
                lead a healthy and productive life.
              </p>
            </div>
            <a
              style="font-size: 2rem; text-decoration: underline"
              href="{% url 'main:DrugRehabilitationAndRecovery' %}"
              >Learn more</a
            >
          </div>
          <div class="col-sm-6">
            <div class="flexheader">
              <img src="{% static 'images/Four.png' %}" alt="" />
              <h2 class="heading">Reproductive Health and Rights</h2>
            </div>

            <div class="para">
              <p>
                Reproductive health and rights are crucial for the well-being of
                women. However, many women in India lack access to reproductive
                health services and information, leading to unwanted
                pregnancies, unsafe abortions, and maternal mortality. It is
                essential to facilitate women with the access to comprehensive
                reproductive health services, family planning, maternal health
                care, and safe abortion services. These improvements will not
                only have a huge impact on women's reproductive health but also
                contribute to the overall development of the country by
                empowering women and promoting gender equality.
              </p>
            </div>
            <a
              style="font-size: 2rem; text-decoration: underline"
              href="{% url 'main:ReproductiveHealthAndRights' %}"
              >Learn more</a
            >
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    {% include '../components/footer.html' %}
    <!-- Preloader -->
    {% include '../components/preloader.html' %}

    <script
      data-cfasync="false"
      src="{% static 'js/cloudflare-static-email-decode.min.js' %}"
    ></script>
    <script src="{% static 'js/5597-js-jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/9959-js-plugins.js' %}"></script>
    <script src="{% static 'js/320-js-main.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>

    <!-- External Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"
      integrity="sha256-gSh8eotzb/CVvCREGPUNgIWuDnTYnZvVOQnRrP1eDjI="
      crossorigin=" anonymous"
    ></script>
    <script src="{% static 'js/earth.js' %}"></script>

    <script>
      function CardClick(thisCard) {
        allcards = document.getElementsByClassName("card");
        for (let i = 0; i < allcards.length; i++) {
          allcards[i].classList.remove("active");
        }
        thisCard.classList.add("active");
      }
    </script>
  </body>
</html>
