{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Agendas | Social Conclave</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/overTheYears.css' %}" />
    <link rel="stylesheet" href="{% static 'css/agendas.css' %}" />
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicons/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicons/favicon-32x32.png' %}"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicons/favicon-16x16.png' %}"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body class="overTheYears" id="top">
    <!-- Navbar -->
    {% include '../components/navbar.html' %}

    <section
      id="home"
      class="s-home target-section short-header"
      data-parallax="scroll"
      data-image-src="{% static 'images/agendas23/Education.jpg' %}"
      data-natural-width="3000"
      data-natural-height="2000"
      data-position-y="center"
    >
      <div class="overlay"></div>
      <div class="shadow-overlay"></div>
      <div class="home-content">
        <div class="row home-content__main extrapad">
          <h3>Social Conclave</h3>
          <br />
          <h1 style="margin-bottom: 0px">Education: A Universal Right</h1>
          <div class="home-content__buttons">
            <a href="{% url 'main:landing-page' %}" class="btn btn--stroke"
              >Home</a
            >
          </div>
        </div>
        <div class="home-content__line"></div>
      </div>
      <ul class="home-social">
        <li>
          <a href="https://instagram.com/social.conclave"
            ><i class="fab fa-instagram" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a href="https://wa.me/+919987729634"
            ><i class="fab fa-whatsapp" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </section>

    <section class="container" style="margin-top: 75px">
      <h1>About the Agenda</h1>
      <div style="display: flex; justify-content: space-between">
        <div class="left" style="max-width: 60ch; text-align: justify">
          Underprivileged children are confronted with various challenges such
          as lack of education, malnutrition, limited access to healthcare and
          forced labor. Moreover, the extracurricular opportunities, and
          emotional development are often overlooked in favor of fulfilling more
          basic needs due to poverty. To ensure that children have a healthy and
          fulfilling childhood, we must formulate comprehensive child
          development programs that prioritize their social and emotional skills
          through extracurricular activities. These programs must also promote
          parenting education to address the issue of parents that might not
          understand their children’s psychological requirements. Adults who
          were allowed to fully develop during their childhood can have a more
          positive impact on society.
        </div>
      </div>
    </section>

    <section class="study-guide container">
      <h1>Study Guide</h1>
      <a target="_blank" href="https://socialconclave.in/guide/Education"
        >Click here to download</a
      >
    </section>

    <section class="container">
      <h1>Presentation Template</h1>
      <a target="_blank" href="http://socialconclave.in/template/Education"
        >Click here to download</a
      >
    </section>

    <section class="container">
      <h1>Report Template</h1>
      <a target="_blank" href="http://socialconclave.in/template/Report"
        >Click here to download</a
      >
    </section>

    <section
      class="field-visit container"
      style="margin-bottom: 75px; margin-top: 15px"
    >
      <div>
        <div class="fv-info" style="margin-bottom: 15px">
          <h1>Field Visit</h1>
          Saira Mansion, <br />
          Near Pahadi School Road Number 2, <br />
          Peru Baug, <br />
          Jay Prakash Nagar, Goregaon, <br />
          Mumbai, Maharashtra 400066
        </div>
        <div class="map">
          <iframe
            width="400"
            height="400"
            style="border: 0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key={{ key }}&q=5V74%2BQC"
          >
          </iframe>
        </div>
      </div>
    </section>

    <!-- Navbar -->
    {% include '../components/footer.html' %}
    <!-- Preloader -->
    {% include '../components/preloader.html' %}

    <script
      data-cfasync="false"
      src="{% static 'js/cloudflare-static-email-decode.min.js' %}"
    ></script>
    <script src="{% static 'js/5597-js-jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/9959-js-plugins.js' %}"></script>
    <script src="{% static 'js/320-js-main.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>

    <!-- External Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"
      integrity="sha256-gSh8eotzb/CVvCREGPUNgIWuDnTYnZvVOQnRrP1eDjI="
      crossorigin=" anonymous"
    ></script>
    <script src="{% static 'js/earth.js' %}"></script>

    <script>
      function CardClick(thisCard) {
        allcards = document.getElementsByClassName("card");
        for (let i = 0; i < allcards.length; i++) {
          allcards[i].classList.remove("active");
        }
        thisCard.classList.add("active");
      }
    </script>
  </body>
</html>
